<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main tabindex="0" class="product" role="main">
		<h1><%= results.name %></h1>
		<img src="/images/products/<%= results.image %>" alt="<%= results.name %>">
		<div class="productInfo">
			<p>Beskrivelse : <%= results.description %></p>
			<p>Pris : DKK <%= results.price %></p>
			<p>Kategori : <a href="/produkter/kategori/<%= results.category_name %>"><%= results.category_name %></a></p>
			<p>Producent : <a href="/produkter/brand/<%= results.brand_name %>"><%= results.brand_name %></a></p>
		</div>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>